<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GerenciarPerfil</servlet-name>
        <servlet-class>controle.GerenciarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarUsuario</servlet-name>
        <servlet-class>controle.GerenciarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificaLogin</servlet-name>
        <servlet-class>controle.VerificaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarMenu</servlet-name>
        <servlet-class>controle.GerenciarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarPerfilMenu</servlet-name>
        <servlet-class>controle.GerenciarPerfilMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarCliente</servlet-name>
        <servlet-class>controle.GerenciarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarFornecedor</servlet-name>
        <servlet-class>controle.GerenciarFornecedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarMedicamento</servlet-name>
        <servlet-class>controle.GerenciarMedicamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarCarrinho</servlet-name>
        <servlet-class>controle.GerenciarCarrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizarVenda</servlet-name>
        <servlet-class>controle.FinalizarVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarSituacaoVenda</servlet-name>
        <servlet-class>controle.RegistrarSituacaoVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificaLoginCliente</servlet-name>
        <servlet-class>controle.VerificaLoginCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarImagens</servlet-name>
        <servlet-class>controle.GerenciarImagens</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GerenciarPerfil</servlet-name>
        <url-pattern>/gerenciar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarUsuario</servlet-name>
        <url-pattern>/gerenciar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificaLogin</servlet-name>
        <url-pattern>/verifica_login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarMenu</servlet-name>
        <url-pattern>/gerenciar_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarPerfilMenu</servlet-name>
        <url-pattern>/gerenciar_perfil_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarCliente</servlet-name>
        <url-pattern>/gerenciar_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarFornecedor</servlet-name>
        <url-pattern>/gerenciar_fornecedor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarMedicamento</servlet-name>
        <url-pattern>/gerenciar_medicamento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarCarrinho</servlet-name>
        <url-pattern>/gerenciar_carrinho.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizarVenda</servlet-name>
        <url-pattern>/finalizar_venda.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarSituacaoVenda</servlet-name>
        <url-pattern>/registrar_situacao_venda.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificaLoginCliente</servlet-name>
        <url-pattern>/verifica_login_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarImagens</servlet-name>
        <url-pattern>/gerenciar_imagem.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
